<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./tests/unit/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="./tests/clover.xml"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="24575"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory phpVersion="7.4" phpVersionOperator=">=" suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
